<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">We are building a big story.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <!-- Starting 2011 -->
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2011</h4>
                                    <h4 class="subheading">Beginning</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Project SUCHAI starts its development at the University of Chile. It is the
                                        first chilean made satellite and the very beginning of Aurora Space team.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <!-- July 2015: Company creation -->
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2015</h4>
                                    <h4 class="subheading">Aurora Space Projects takes off</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Aurora Space was created to help the development of future small
                                        satellite missions. Our objective is to provide the knowledge and the highly
                                        qualified human resources required for successful space projects.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <!-- August 2015: Company creation -->
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August 2015</h4>
                                    <h4 class="subheading">SUCHAI 2 & 3 missions start</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Nex generation satellites of the University of Chile being developed in conjunction
                                        with Aurora Space.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <!-- Q1 2016: Expecting SUCHAI launch -->
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Q1 2016</h4>
                                    <h4 class="subheading">Expected SUCHAI launch</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        SUCHAI mission is expected to be launched in during 2016!
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4><centering>
                                    It's time
                                    <br>to reach
                                    <br>space!
                                </centering></h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>