<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Everything for your space project.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cube fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Small Satellites</h4>
                    <p class="text-muted">Cubesat projects development, engineering and consulting. Specialists in small
                        satellite components integration. Reduce risk talking with the experts.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-terminal fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Flight Software</h4>
                    <p class="text-muted">Modular and customizable flight software specially designed  for
                        nano-satellite missions. Reduce development time using Aurora Flight Software.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-wifi fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Communications</h4>
                    <p class="text-muted">Sale and installation of ground station kits for VHF/UHF including tracking
                        systems. Don't let your satellite alone in the space.
                    </p>
                </div>
            </div>
        </div>
    </section>