/* Header logo text and color */
.navbar-default .navbar-brand {
    font-family: "Russo One","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #ffffff;
}

/* Set logo position */
.navbar-default .navbar-brand img {
    margin-top: -20px;
    fill: white;
    height: 60px;
}

/* Fix navbar items colors */
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #{{ site.color.secondary-dark }};
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #{{ site.color.secondary-dark }};
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #{{ site.color.secondary-dark }};
}

/* Fix buttons colors */
.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    border-color: #{{ site.color.primary }};
    color: #fff;
    background-color: #{{ site.color.secondary-dark }};
}

/* Fix team columns to support 5 columns */

.col-md-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}